// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-title {
 text-align: center;
 font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.product-description {
  margin-bottom:20px;
  border-bottom: thin solid lightgray;
}



