
<div class="container">
  <div class="container-fluid">
    <p id="notice"><%= notice %></p>



      <div class="product-header">
        <h1 class="products-title">Selection</h1>
        <h4>FREE DELIVERY* WORLDWIDE</h4>
      </div>



        <% @products.each do |product| %>
    <%= render partial: "product", collection: @products %>
        <% end %>




    <br>

    <%= link_to 'New Product', new_product_path %>
  </div>
</div>